.container{
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
}

.containerHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playerX, .playerO{
    font-weight: 900;
}

.containerPlayers{
    display: flex;
    gap: 10px;
    font-size: 40px;
}

.playerX{
    color: var(--color-player-one);
}

.playerO{
    color: var(--color-player-two);
}

.turn{
    color: var(--tertiary-color);
    background-color: var(--main-container-bg);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    font-size: 20px;
    font-weight: 900;
}

.reset{
    color: var(--main-container-bg);
    background-color: var(--tertiary-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px 18px;
    font-size: 25px;
    font-weight: 900;
}

.board{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.square{
    background-color: var(--primary-color);
    width: calc((100% - 30px) / 3);
    font-size: 60px;
    font-weight: 900;
    border-radius: 10px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 480px) {
  .square{
    height: 120px;
  }
}

.winnerPosition{
    color: var(--primary-color) !important;
    background-color: var(--tertiary-container-bg) !important;
}

.scores{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.score{
    border-radius: 5px;
    padding: 20px 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    gap: 5px;
    font-size: 16px;
    width: calc((100% - 20px) / 3);
}

.scoreX{
    background-color: var(--color-player-one);
}

.scoreTies{
    background-color: var(--tertiary-color);
}

.scoreO{
    background-color: var(--color-player-two);
}

.winnerOverlay{
    position: fixed;
    transition: 0.3s;
    animation: fade 0.4s normal forwards ease-in-out;
    left: 0;
    top: 0;
    opacity: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

@keyframes fade {
    100%{
        opacity: 1;
    }
}

.winnerWrapper{
    width: 100%;
    max-width: 400px;
    padding: 20px 15px;
    border-radius: 10px;
    background-color: var(--main-container-bg);
}

.winnerTitle{
    color: var(--tertiary-color);
    font-size: 20px;
    margin-bottom: 10px;
}

.winnerButtons{
    margin-top: 15px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.winnerButtonQuit{
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
}

.winnerButtonNext{
    color: var(--primary-color);
    background-color: var(--secundary-container-bg);
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
}

.tie{
    color: var(--tertiary-color) !important;
    font-size: 20px;
    display: block;
    margin: 20px 0;
}

.winner{
    font-size: 20px;
    display: block;
    margin: 20px 0;
}